# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Lisbon
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where configuration will be stored.
ROOT=/home/{youruser}/
# The directory where data will be stored.
HDDSTORAGE=/home/{youruser}/Storage/

# Wireguard Settings
#Your public ip, auto for auto detect
SERVERURL=auto
#number of devices to generate configuration to connect to the wireguard vpn
PEERS=7

# Arcane
#aplication URL with the defined port
APP_URL="http://localhost:9010"
#Type of environement, this is our "live" environemnt so lets use production
ENVIRONMENT=production
#Random Encription Key
ENCRYPTION_KEY={your_encryption_key} #Run command: "openssl rand -base64 32" to generate a random key like dgx9U8oSegcUMb0mp3N/mMpYHB4ZYF+2m+ym6LYcCNg=
#Random JWT Secret
JWT_SECRET={your_jwt_secret} #Run command: "openssl rand -base64 32" in the  to generate a random key like dgx9U8oSegcUMb0mp3N/mMpYHB4ZYF+2m+ym6LYcCNg=
